.App {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Login {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.LoginForm {
  background-color: brown;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 30rem;
  min-height: 15rem;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
}

.HeaderContent {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 60px;
  background-color: cadetblue;
}

.Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 60px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.Product {
  background-color: brown;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30rem;
  cursor: pointer;
  border-radius: 8px;
}
