body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 13px 15px;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn-primary {
  background: #3498db;
  color: #ffffff;
}

.btn-round {
  border-radius: 20px;
}
